.btn-blog {
    margin-right: 5px;
}

.p-content {
    text-align: justify;
}

.en-tete-post {
    display: flex;
    justify-content: space-between;
}

.gras {
    font-weight: 600;
}

.gris {
    color: gray;
}